$color-background: #121214;
$color-green: #04d361;
$color-orange: #fd951f;
$color-primary: #8257e6;
$color-primary-hover: #9466ff;
$color-secondary: #e1e1e6;
$color-text: #a8a8b3;
$color-shape: #202024;
$color-shape-hover: #29292e;
$color-black: #0d0d0f;
$color-blue: #4100d6;
